* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #D4DEC8;
}

h1 {
	margin-top: 20px;
	margin-bottom: 30px;
	text-align: center;
}

:root {
	--myBoxShadow: inset 0px 0px 1px 3px rgba(199,209,192,1),
        13px 13px 21px 0px rgba(125,120,125,1);


}

.box {
	width: 50%;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
}

.img {
	border: 5px solid gray;
	border-radius: 3px;
	width: 20%;
	height: 150px;
	background-color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	/* box shadow bu yerda	*/
	box-shadow: var(--myBoxShadow);
}

img {
	width: 100%;

}

.form input::placeholder {
	font-size: 17px;	
}

.form .names {
	text-align: center;
}

.names {
	width: 100%;	
	height: 60px;
} 

.names input {
	width: 25%;
	height: 40px;
	margin-left: 20px;
	margin-right: 20px;
	border: 5px solid gray;
	border-radius: 3px;
	padding-left: 20px;
	/* box shadow bu yerda	*/
	box-shadow: var(--myBoxShadow);
}

.all-inputs {
	width: 97%;	
	height: 500px;
}

.all-inputs input {
	width: 56%;
	height: 40px;
	border: 5px solid gray;
	border-radius: 3px;
	padding-left: 20px;
	/* box shadow bu yerda	*/
	box-shadow: var(--myBoxShadow);
}

.bx {
	font-size: 40px;
}

.all-inputs [type="submit"] {
	width: 15%;
	height: 50px;
	padding: 0;
	font-size: 20px;
}

label {
	text-align: center;
	width: 100%;
	height: 40px;
	display: block;
	margin-top: 30px;
}
